.contact-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    

    h2{
        text-align: center;
    }

    span{
        text-align: center;
    }
    .button-container{
        justify-content: center;
    }
}